.content {
  display: flex;
  flex-flow: column;
  height: 100vh;
}

.box {
  position: relative;
  display: flex;
  justify-content: center;
  .tabBar {
    position: absolute;
    width: 90%;
    height: 100rpx;
    bottom: -45rpx;
    border-radius: 42rpx;
    background: #ffffff;
    box-shadow: 0 0 6px #c8c7cc;
    display: flex;
    align-items: center;
    justify-content: space-around;
    .tabIcon {
      color: #434343;
      font-size: 43rpx;
      position: relative;
    }
    .active {
      color: #52acff;
    }
  }
  .show {
    display: flex;
  }
  .showAnimate {
    animation: show 0.3s;
  }
  .hide {
    display: none;
  }
  .hideAnimate {
    animation: hide 0.3s;
  }
  @keyframes show {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes hide {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
}

.uIcon {
  margin: 0 30rpx;
  color: #ffffff;
  font-size: 43rpx;
  text-shadow: 0px 0px 2px #434343, 0px 0px 20px #ffffff;
  position: relative;
}

.slot-content {
  margin: 32rpx 30rpx 40rpx 30rpx;
  .input {
    text-align: center;
    font-size: 28rpx;
    font-family: "Permanent Marker";
  }
  .input-placeholder {
    color: #999;
    font-weight: 300;
    font-size: 28rpx;
  }
}

.swiper {
  flex: 1;
  margin: 60rpx 0 0 0;
  transform: 0.3s height;
}

.swiper-hide {
  height: 0rpx;
}

.scroll {
  z-index: 300;
}

.scroll ::-webkit-scrollbar {
  width: 0;
  height: 0;
  background-color: transparent;
}
